:root {
    --cor-primaria: #333333;
    --cor-secundario: #484848!important;
    --cor-fundo-menu: #121212;
    --cor-fundo-menu-media: #111111;
    --cor-fonte-menu: #FFFFFF;
    --cor-fonte-menu-hover: #484848!important;
    --font-text: "sariamedium";
}