:root {
 --cor-primaria	 : #333333;
 --cor-secundario:  #f9c511!important;
 --cor-fundo-menu: #121212;
 --cor-fundo-menu-media: #111111;
 --cor-fonte-menu: #FFFFFF;
 --cor-fonte-menu-hover: #f9c511!important;
 --font-text: "sariamedium";
}